
.content {
     display: flex;
     flex-direction: column;
     align-items: center;
     
     .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        button {
            margin: 20px;
        }
    }
}
md-card {
    width: 550px;
}
ul {
    -webkit-padding-start: 0;
}
li {
    list-style-type: none;
}
.streamer {
    .streamer-logo {
        margin-right: 25px;
        width: 100px;
        height: 100px;
        min-width:100px;
        vertical-align: middle;
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);        vertical-align: middle;
    }
    div {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-end;
        .left { align-self: flex-start; }
        .right { margin-left: auto; }
    }
}

@media (max-width: 600px) {
    .streamer span {
        display: none;
    }
    md-card {
        width: 300px;
        max-width: 300px;
        min-width: 300px;
    }
}