<div class="content">
  <div class="header">
    <button md-raised-button color="primary" (click)="pickAll()">View All</button>
    <button md-raised-button color="primary" (click)="pickOnline()">Online</button>
    <button md-raised-button color="primary" (click)="pickOffline()">Offline</button>
  </div>
  <div class="selectedStreamers">
  <ul *ngFor="let streamer of selectedStreamers">
    <li>
      <md-card *ngIf="streamer.found === false" class="streamer">
         <div>
          <img class="streamer-logo" src="/assets/blank_logo.png" alt="{{streamer.display_name}}" />
          <p>
            {{streamer.display_name}}
            <br><span>No longer has a stream on Twitch.tv (user not found)</span>
          </p>
          <p class="right">Not Found</p>
        </div>      </md-card>
      <md-card *ngIf="streamer.found === true" class="streamer">
        <div>
          <img class="streamer-logo" src="{{streamer.logo}}" alt="{{streamer.display_name}}" />
          <p>
            <a href="https://www.twitch.tv/{{streamer.name}}">{{streamer.display_name}}</a>
            <br><span>{{streamer.bio || "no bio listed"}}</span>
          </p>
          <p class="right">{{streamer.status}}
            <br><a *ngIf="streamer.status === 'online'" md-mini-fab color="primary" href="https://www.twitch.tv/{{streamer.name}}"><md-icon>play_arrow</md-icon></a>
          </p>
        </div>
      </md-card>
    </li>
  </ul>
  </div>
</div>
